h2 {
  font-size: 2.5em;
  margin: 20px 0; 
  text-align: center;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px; 
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/annakolosyukD5nh6mCW52cunsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; 
}

.hero::before {
  content: attr(aria-label);
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero h2 {
  font-size: 3em; 
}

.hero .btn {
  display: block;
  width: 200px;
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid white;
  border-radius: 20px;
  background-color: rgba(255, 53, 198, 0.5);
}

.introduction {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}

.introduction h2 {
  font-size: 2.5em;
}

.introduction p {
  font-size: 1.2em; 
}

.profile-image {
  width: 200px;
  height: auto;
  margin: 20px 0; 
}

/* Artwork section */
.artwork-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0; 
}

.artwork-container {
  width: 250px;
  margin: 20px;
  border: 2px solid #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.artwork-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: pink;
}

.artwork-container img {
  max-width: 100%;
  height: auto;
  border: 3px solid #333;
}

.artwork-container p {
  margin-top: 10px;
}

.expanded-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-width: 80%;
  max-height: 80%;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

/* Accordion section */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; 
}

.accordion-section h2 {
  font-size: 2.5em; 
}

.accordion-container {
  margin-top: 20px;
}

.accordion-item {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.accordion-button {
  background-color: #f4f4f4;
  color: #333;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.active .accordion-content {
  display: block;
}

.inspiration-section {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inspiration-section h2 {
  font-size: 2.5em; 
}

.inspiration-section p {
  font-size: 1.2em; 
}

.video-container {
  margin-top: 20px;
}

/* Footer section */
.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info,
.footer-links,
.footer-social {
  flex: 1;
  padding: 0 20px;
}

.footer-info h3,
.footer-links h3,
.footer-social h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 5px;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #ffcc00;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}
